<style>
    .p-3 {
        padding: 0rem !important;
    }
</style>
@model DataAccess.ApplicationUser

<div class="container p-3 border-1 border-dark; p-0" style="box-shadow: 11px 11px 19px #f05a59;">
    <div class="form-control mb-2 border">
        <input class="form-control" type="hidden" value="@ViewBag.Email" id="email" />
       
            <div class="col-6">
                <label style="font-style:italic; color:black">Enter Reason </label>
            <input class="form-control" type="text" id="Reason" />
               
            </div>           
            <div class="mb-2">
                <br />
            <button class="btn btn-info" onclick="rejectData(Reason)"> Save </button>
            </div>
      
    </div>
</div>
